.content {
    padding: 60px 10px 10px 10px;
}

.content__section {
    display: flex;
    margin: -5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;

    overflow-x: auto;
    scroll-snap-type: x;
}

.content__section::-webkit-scrollbar {
    display: none;
}

.content__title {
    padding: 20px;
}

.content__title-link {
    text-decoration: none;
    color: #000;
}

.content__title-link:hover {
    opacity: 0.6;
}

.content__title-link:active {
    text-decoration: none;
}

.new-stores {

}

.new-products {

}

.featured-stores {

}

.featured-products {

}
