.content {
    padding: 60px 10px 10px 10px;
}

.content__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.content__title {
    padding: 20px;
    font-size: 2.4rem;
}

.new-stores {

}

.new-products {

}

.featured-stores {

}

.featured-products {

}
