.content {
    padding: 60px 0px 10px 0px;
}

.content__section {
    padding: 10px;
    display: flex;
    overflow-x: scroll;
}

.content__section::-webkit-scrollbar {
    display: none;
}

.content__title {
    padding: 20px;
}

.content__title-link {
    text-decoration: none;
    color: #000;
}

.content__title-link:hover {
    opacity: 0.6;
}

.content__title-link:active {
    text-decoration: none;
}

.new-stores {

}

.new-products {

}

.featured-stores {

}

.featured-products {

}

