.content {
    padding: 60px 0px 10px 0px;
}

.content__section {
    padding: 40px 10px;
    display: flex;
    overflow-x: scroll;
}

.content__section::-webkit-scrollbar {
    display: none;
}

.content__title {
    padding-left: 20px;
}

.content__title-link {
    text-decoration: none;
    color: #000;
}

.content__title-link:hover {
    opacity: 0.6;
}

.content__title-link:active {
    text-decoration: none;
}

.new-stores {}

.new-products {}

.featured-stores {}

.featured-products {}

.content__wrapper {
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.content__body {
    padding: 20px;
}

.content__paragraph {
    font-size: 1.6rem;
    padding: 0 20px;
}